%% -*- erlang -*-

{ct_opts,
 [{sys_config, "config/test.config"}]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{cover_export_enabled, true}.

{covertool, [
    {coverdata_files, [
        "ct.coverdata",
        "eunit.coverdata"
    ]}
]}.

{cover_excl_mods, []}.

{deps, [
    lager,
    {blockchain, {git, "https://github.com/helium/blockchain-core.git", {branch, "andymck/validator-tmp2"}}},
    {erlbus, {git, "https://github.com/andymck/erlbus.git", {branch, "andymck/rename-refactor"}}},
    {grpc_client, {git, "https://github.com/Bluehouse-Technology/grpc_client.git", {branch, "master"}}},
    {grpcbox, {git, "https://github.com/andymck/grpcbox.git", {branch, "andymck/fix-serverside-compat-with-chatterbox"}}}
]}.

{grpc, [{protos, ["_build/default/lib/helium_proto/src/service/"]},
        {out_dir, "src/grpc/autogen"},
        {gpb_opts, [{descriptor, true},
                    {i, "_build/default/lib/helium_proto/src"},
                    {module_name_prefix, ""},
                    {module_name_suffix, "_pb"}]}]}.

{erl_opts, [
    {parse_transform, lager_transform},
    warn_untyped_records,
    debug_info,
    warnings_as_errors
]}.


{plugins, [
    {grpcbox_plugin, {git, "https://github.com/andymck/grpcbox_plugin.git", {branch, "andymck/server-support-for-continue-response"}}},
    rebar3_lint,
    covertool,
    rebar3_format,
    erlfmt
]}.

{format, [
    {files, [
        "src/**/*.erl",
        "include/*.hrl",
        "sibyl.app.src",
        "test/**/*.erl",
        "test/**/*.hrl",
        "config/sys.config",
        "config/sys.config.src"
    ]},
    {ignore, []},
    {formatter, erlfmt_formatter},
    {options, #{print_width => 100, ignore_pragma => true}}
]}.

{shell, [{apps, [lager, sibyl, grpc, grpcbox]}]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps, all_deps}
]}.

{xref_checks, [
    undefined_function_calls,
    %locals_not_used,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions
]}.


{relx, [
        {release, {"sibyl", "1.0.0"}, [sibyl]},
        {sys_config, "./config/sys.config"},
        {extended_start_script, true},
        {generate_start_script, true},
        {extended_start_script_hooks, [
            {post_start, [
                {wait_for_process, blockchain_worker}
            ]}
        ]}
       ]}.

{profiles, [
    {test, [
        {relx, [
                {sys_config, "./config/test.config"},
              {overlay,
               [{copy, "config/sys.config", "config/sys.config"}]},
            {dev_mode, true},
            {include_erts, false}
        ]
        },
        {erl_opts, [nowarn_export_all, export_all]},
        {deps, [
            cth_readable,
            meck,
            {gun, {git, "https://github.com/ninenines/gun.git", {branch, "master"}}}

        ]}
    ]},
    {prod, [
            {relx, [
                    {release, {sibyl, "0.1.0"},
                     [sibyl,
                      observer,
                      tools,
                      runtime_tools,
                      recon]},
                    {sys_config, "./config/sys.config"},
                    {dev_mode, false},
                    {include_src, false},
                    {system_libs, false},
                    {include_erts, false}]}]
    }

]}.


