%% -*- erlang -*-

{ct_opts,
 [{sys_config, "config/test.config"}]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{cover_export_enabled, true}.

{covertool, [
    {coverdata_files, [
        "ct.coverdata",
        "eunit.coverdata"
    ]}
]}.

{cover_excl_mods, []}.

{deps, [
    lager,
    {blockchain, {git, "https://github.com/helium/blockchain-core.git", {branch, "master"}}},
    {grpcbox, {git, "https://github.com/andymck/grpcbox.git", {branch, "andymck/ts-master/stream-handler-changes"}}}
]}.

{erl_opts, [
    {parse_transform, lager_transform},
    warn_untyped_records,
    debug_info
]}.


{plugins, [
    {grpcbox_plugin, {git, "https://github.com/andymck/grpcbox_plugin.git", {branch, "andymck/ts-master/combined-opts-and-template-changes"}}},
    rebar3_lint,
    covertool,
    rebar3_format,
    erlfmt
]}.

{format, [
    {files, [
        "src/**/*.erl",
        "include/*.hrl",
        "sibyl.app.src",
        "test/**/*.erl",
        "test/**/*.hrl",
        "config/sys.config",
        "config/sys.config.src"
    ]},
    {ignore, []},
    {formatter, erlfmt_formatter},
    {options, #{print_width => 100, ignore_pragma => false}}
]}.

{shell, [{apps, [lager, sibyl, grpc, grpc_client, grpcbox]}]}.

{dialyzer, [
    {plt_apps, all_deps}
]}.

{xref_checks, [
    undefined_function_calls,
    %locals_not_used,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions
]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make grpc"},
    {"(freebsd|openbsd|netbsd)", compile, "gmake grpc"},
    {"(linux|darwin|solaris)", clean, "make clean_grpc"},
    {"(freebsd|openbsd|netbsd)", clean, "gmake clean_grpc"}
]}.

{relx, [
        {release, {"sibyl", "1.0.0"}, [sibyl]},
        {sys_config, "./config/sys.config"},
        {extended_start_script, true},
        {generate_start_script, true},
        {extended_start_script_hooks, [
            {post_start, [
                {wait_for_process, blockchain_worker}
            ]}
        ]}
       ]}.

{profiles, [
    {test, [
        {overrides, [{add, blockchain, [{erl_opts, [{d, 'TEST'}]}]}]},
        {relx, [
                {sys_config, "./config/test.config"},
              {overlay,
               [{copy, "config/sys.config", "config/sys.config"}]},
            {dev_mode, true},
            {include_erts, false}
        ]
        },
        {erl_opts, [nowarn_export_all, export_all]},
        {deps, [
            cth_readable,
            meck,
            {grpc_client, {git, "https://github.com/Bluehouse-Technology/grpc_client.git", {branch, "master"}}}
        ]}
    ]}
]}.


