%% -*- erlang -*-
[
    {sibyl, [
        {base_dir, "/var/data"},
        {poc_mgr_mod, miner_poc_mgr},
        {version_fn, fun sibyl_utils:default_version/0}
    ]},
    {lager, [
        {suppress_supervisor_start_stop, true},
        {log_root, "/var/log/sibyl"},
        {crash_log, "crash.log"},
        {colored, true},
        {metadata_whitelist, [poc_id]},
        {handlers, [
            {lager_file_backend, [{file, "console.log"}, {level, debug}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]}
        ]}
    ]}
].
