%% -*- erlang -*-
[
    {sibyl, [
        {base_dir, "/var/data"}
    ]},
    {chatterbox, [
        {port, 8080},
        {ssl, false},
        {ssl_options, [
            {certfile, "localhost.crt"},
            {keyfile, "localhost.key"},
            {versions, ['tlsv1.2']},
            {alpn_preferred_protocols, [<<"h2">>]}
        ]},
        {concurrent_acceptors, 100},
        {stream_callback_mod, lib_http2_stream},
        {chatterbox_static_content_handler, [
            {root_dir, "./"}
        ]},
        {chatterbox_static_stream, [
            {root_dir, "./"}
        ]}
    ]},
    {lager, [
        {suppress_supervisor_start_stop, true},
        {log_root, "/var/log/sibyl"},
        {crash_log, "crash.log"},
        {colored, true},
        {metadata_whitelist, [poc_id]},
        {handlers, [
            {lager_file_backend, [{file, "console.log"}, {level, debug}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]}
        ]}
    ]}
].
