%% -*- erlang -*-
[
    {sibyl, [
        {base_dir, "/var/data"}
    ]},
    {lager, [
        {suppress_supervisor_start_stop, true},
        {log_root, "/var/log/sibyl"},
        {crash_log, "crash.log"},
        {colored, true},
        {metadata_whitelist, [poc_id]},
        {handlers, [
            {lager_file_backend, [{file, "console.log"}, {level, debug}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]}
        ]}
    ]},
    {grpcbox, [
        {servers, [
            #{
                grpc_opts => #{
                    service_protos => [gateway_pb],
                    services => #{'helium.gateway' => helium_gateway_service}
                },

                transport_opts => #{ssl => false},

                listen_opts => #{
                    port => 10001,
                    ip => {0, 0, 0, 0}
                },

                pool_opts => #{size => 100},

                server_opts => #{
                    header_table_size => 4096,
                    enable_push => 1,
                    max_concurrent_streams => unlimited,
                    initial_window_size => 65535,
                    max_frame_size => 16384,
                    max_header_list_size => unlimited
                }
            }
        ]}
    ]}
].
